/* Import vars */
@use './partials/vars' as *;

/* Import FontAwesome */ 
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';

/* Import Bootrap scss */
@import 'node_modules/bootstrap/scss/bootstrap';

/* Import Font Lato */
@import 'node_modules/@fontsource/lato/300.css';
@import 'node_modules/@fontsource/lato/400.css';
@import 'node_modules/@fontsource/lato/700.css';
@import 'node_modules/@fontsource/lato/900.css';



body {
  font-family: "Lato", sans-serif;
  overflow-y: auto;
}

p{
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

ul{
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
}



