/* Import vars */
@use './vars' as *;


/*Logo  */
@mixin logo($type: 'small') {

  span {
    display: inline-block;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    &:first-child{
      color: $shiny-primary;
      padding: 0.5rem 0 0.5rem 2rem;
    }
  }

  /* small for light background */
  @if $type == 'small' {
    span{
      font-weight: 700;
      font-size: 1.3rem;
      &:first-child {
        background-color: $light-primary;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
      }
      &:last-child {
        color: $bg-300;
        margin-left: 2px;
      }
    }
  }

  /* big for dark background */
  @else if $type == 'big' {
    span{
      font-weight: 900;
      font-size: 1.6rem;
      &:first-child {
        background-color: rgba($primary, .4);
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
      }
      &:last-child {
        color: $grey;
        margin-left: 4px;
      }
    }
  }

}

/* Section Wrapper */
@mixin section($type: 'dark') {
  padding: 130px 0;

  @if $type== 'light100' {
    background-color: $bg-100;
  }

  @if $type== 'light200' {
    background-color: $bg-200;
  }

  @else if $type== 'dark' {
    background-color: $bg-400;
  }
}

/* Bg text light green title */
@mixin boxTitle($type: 'dark') {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 3px;

  @if $type== 'dark' {
  background-color: $dark-rgba-primary;
  }
}

@mixin title($type: 'dark') {
  font-weight: 900;
  font-size: 2.8rem;
  & > span {
    @include boxTitle(dark);
  }

  @if $type=='light' {
    color: $bg-100
  }

  @else if $type=='dark' {
    color: $bg-300;
    & > span {
      color: $primary;
    }
  }
}

@mixin titleSmall($type: 'dark') {
  
  @if $type=='light' {
    color: $bg-100;
    font-weight: 900;
    letter-spacing: 1px;
  }

  @else if $type=='dark' {
    font-weight: 700;
    color: $bg-300;
  }
}

/* Button */
@mixin button($type: 'outline'){
  text-transform: uppercase;
  border-radius: 3px;
  padding: 8px 20px;
  font-size: 1.1rem;
  letter-spacing: 1px;

  @if $type=='solid' {
    color: $bg-100;
  }

  @else if $type=='outline'{
    &:hover{
      color: $bg-300;
    }
  }

}

/* Paragraph (p)  p.subtitle */
@mixin subtitle($type: 's700') {
  color: $shiny-primary;
  text-transform: uppercase;


  @if $type=='b400' {
    font-weight: 400;
    font-size: 1.1rem
  }

  @else if $type=='s700' {
    font-size: 0.9rem;
    font-weight: 700;
  }

}

//* Paragraph (p)  */
@mixin paragraph($type: 'dark') {
  font-size: 1.1rem;
  font-weight: 300;


  @if $type=='light' {
    color: $bg-200;
  }

  @else if $type=='dark' {
    color: $bg-300;
  }
}

/* Card */
@mixin card($type: 'default') {
  border:none;
  border-radius: 10px;
  height: 100%;
  padding: 3rem;

  @if $type== 'light' {
    background-color: $bg-100;
  }
}

