/* Import Bootstrap functions*/
@import 'node_modules/bootstrap/scss/functions';


/*** Palette ***/

/* Color Cube */
$woodsmoke: #121117;
$white: #ffffff;
$blue-lagoon: #048383;
$corduroy: #5c5e5e;
$edward: #aeb0b0;
$koromico: #feb169;
$fountain-blue: #45bbbc;
$piper: #c86f29; 
$Anakiwa: #96fefe;

/* Median cut */
$shark: #1c2224;
$black-haze: #e8ecea;
$sea-nymph: #729fa1;
$smalt-blue: #50828c;
$cape-palliser: #ac6b44;

/* Material design */
$elm: #22918e;
$cloudy: #a5a09d;
$elf-greeb: #078282;
$limed-spruce: #3d4955;
$di-serria: #dc945c;

/* Custum color */
$custom-blue: #21333F;


/***** App colors *****/

/* Color (bg) from light to dark*/

$bg-100: $white;
$bg-200: $black-haze;
$bg-300: $custom-blue;
$bg-400: $woodsmoke;
$bg-500: darken($woodsmoke, 2%);

$grey: tint-color($edward, 30%);
$dark-grey: tint-color($edward, 15%);


/*** Main color (greens) ***/
/* edit variables Bootstrap*/
$primary: $elm;
/***********/
$light-primary: tint-color($primary, 65%);
$shiny-primary: tint-color($primary, 5%);
$dark-primary: shade-color($primary, 10%);
$dark-rgba-primary: rgba($dark-primary, 0.25);

$bg-600: $dark-grey;

/*******************************************/

/* Bootstrap dropdown*/
$dropdown-min-width: 250px;

/* Height */
$hero-height: 850px;

/* Bootstrap input and select color  */
$gray-600: #6c757d;
$form-select-color: $gray-600;
$input-placeholder-color: $gray-600;
