/*** Palette ***/

/* Color Cube */
$woodsmoke: #121117;
$white: #ffffff;
$blue-lagoon: #048383;
$corduroy: #5c5e5e;
$edward: #aeb0b0;
$koromico: #feb169;
$fountain-blue: #45bbbc;
$piper: #c86f29; 
$Anakiwa: #96fefe;

/* Median cut */
$shark: #1c2224;
$black-haze: #e8ecea;
$sea-nymph: #729fa1;
$smalt-blue: #50828c;
$cape-palliser: #ac6b44;

/* Material design */
$elm: #22918e;
$cloudy: #a5a09d;
$elf-greeb: #078282;
$limed-spruce: #3d4955;
$di-serria: #dc945c;

